{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link rel="stylesheet" href="{% static 'resources/css/styles-navbar.css' %}">
                    <title>Navbar</title>
                </head>
                <body>
                    <div class="navbar">
                        <a href="ke link portfolio atau link website teman teman">
                            <div class="logo">
                                <img src="{% static 'resources/images/logo-teman-teman.png' %}" alt="logo teman teman"></div>
                            </a>
                            <div class="content-navbar">
                                <a href="/">Home</a>
                                <a href="/#About">About</a>
                            </div>
                        </div>
                        <script src="https://kit.fontawesome.com/a076d05399.js"></script>

                    </body>
                </html>